body {
  height: 100vh;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:focus {
  box-shadow: none;
}

.todo-list li {
  margin: 0;
  height: 60px;
}

.todoapp {
  margin: 0;
}

li.viz-page-item.disabled {
  opacity: 0.5;
}

li.viz-page-item.disabled a {
  pointer-events: none;
  cursor: default;
}
